<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <meta name="renderer" content="webkit" />
    <title>PureAppData - AppData清理工具</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"
    />
  </head>
  <script>
    $.ajax("http://localhost:5000/api/listdir", {
      method: "GET",
      success: function (result) {
        $("#progress").hide();
        for (let i = 0; i < result.length; i++) {
          let list = $("#list");
          list.append(
            '<li class="mdui-list-item mdui-ripple" id="listitem_' +
              i +
              '" onclick="javascript:listClick(' +
              i +
              ');"><div class="mdui-list-item-content"><div class="mdui-list-item-title">' +
              result[i].Name +
              '</div><div class="mdui-list-item-text mdui-list-item-one-line">' +
              formatSizeUnits(result[i].Size) +
              "</div></div></div></li>"
          );
        }
      },
      error: function (err) {
        $("#progress").hide();
        mdui.snackbar("获取失败，原因：" + err.status + " " + err.statusText);
      },
    });
    function listClick(i) {
      mdui.alert("确定要删除吗？", "确定", function () {
        $("#progress").show();
        $.ajax("http://localhost:5000/api/delete", {
          method: "POST",
          data: {
            path: i,
          },
          success: function (result) {
            mdui.snackbar("删除成功");
            $("#listitem_" + i).remove();
            $("#progress").hide();
          },
          error: function (err) {
            mdui.snackbar(
              "删除失败，原因：" + err.status + " " + err.statusText
            );
            $("#progress").hide();
          },
        });
      });
    }
    function formatSizeUnits(bytes) {
      if (bytes >= 1073741824) {
        bytes = (bytes / 1073741824).toFixed(2) + " GB";
      } else if (bytes >= 1048576) {
        bytes = (bytes / 1048576).toFixed(2) + " MB";
      } else if (bytes >= 1024) {
        bytes = (bytes / 1024).toFixed(2) + " KB";
      } else if (bytes > 0) {
        bytes = bytes + " B";
      } else {
        bytes = "0 B";
      }
      return bytes;
    }
  </script>
  <body>
    <div class="mdui-appbar">
      <div class="mdui-toolbar mdui-color-indigo">
        <a class="mdui-typo-headline">PureAppData</a>
        <a class="mdui-typo-title">AppData清理工具</a>
      </div>
    </div>
    <div class="mdui-progress" id="progress">
      <div class="mdui-progress-indeterminate"></div>
    </div>

    <ul class="mdui-list" id="list"></ul>
  </body>
</html>
